/*Main CSS 2017*/
/*Body And Native Non-Tag-Elements*/
*{
    font-family: 'Roboto', sans-serif;
    color: #5d5d5d;
}
::selection {
  background: #9A0000; 
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*Navigation Style*/
navigation{
    height: 100%;
    width: 120px;
    position: fixed;
    top: -1;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
}
navigation li{
    display: inline-block;
    height: 24%;
    width: 100%;
    text-align: center;
    font-style: italic;
}
navigation li:hover{
    cursor: pointer;
}
.nImg{
    width: 100%;
    animation-duration: 0s;
    animation-delay: 0s;
}
.nImage > i{
    display: none;
    font-size: 750%;
    animation-duration: 0s;
    animation-delay: 0s;
    color: #9A0000;
}
/*Menu Styling*/
.menu{
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -400px;
    background-color: #262626;
    z-index: 999;
}
#header{
    width: 100%;
    height: 100px;
}
#mTitle{
    color: white;
    font-size: 200%;
    display: inline-block;
    position: fixed;
    padding-top: 10px; 
}
#menuImage{
    height: 100%;
}
.liHolder{
    width: 90%;
    height: auto;
    margin: 20px;
}
.liHolder:hover{
    cursor: pointer;
}
.mList{
    font-size: 140%;
    color: white;
    width: 70%;
    display: inline-block;
}
#next{
    float: right;
    color: white;
    font-size: 200%;
    transition: .3s all; 
}
.liHolder:hover > #next{
    transform: translateX(-5px);
}
closer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
    display: none;
}
closer:hover{
    cursor: pointer;
}
